[Unit]
Description=aria2 Daemon

[Service]
Type=simple
ExecStartPre=/bin/nm-online -q
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2.conf
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
